<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantCard</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script defer src="../index.js"></script>
</head>

<body id="screen">
    <div id="modal">
    <div class="container">
        <section class="card-banner">
            <img class="banner-img" src="../assets/banner.jpg" />
        </section>
        <main class="card-info">
            <article class="info">
                <h1>Núcleo Web</h1>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit.
                    Maecenas ut justo finibus, ultricies
                    leo egestas, porttitor ex. Nam euismod
                    turpis mi, ut sollicitudin dui porta eget.
                    Phasellus vestibulum luctus ipsum, at lobortis
                    augue tempus at. Proin sed augue sit amet massa
                    facilisis malesuada. Phasellus non semper est.
                    Mauris ac velit felis. Morbi vitae semper magna,
                    quis vehicula orci.
                </p>
            </article>
            <div class="footer">
                <section class="card-footer">
                    <img src="../assets/photo.png" />
                    <div class="related-info">
                        <h2>Pedro</h2>
                        <p>21/09/2023</p>
                    </div>
                </section>
                <section id="share-row">
                        <div class="share-row">
                            <button id="share" onclick="handleAnimation()" class="share">
                                <i class="share-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none">
                                        <path
                                            d="M16 5L14.58 6.42L12.99 4.83V16H11.01V4.83L9.42 6.42L8 5L12 1L16 5ZM20 10V21C20 22.1 19.1 23 18 23H6C4.89 23 4 22.1 4 21V10C4 8.89 4.89 8 6 8H9V10H6V21H18V10H15V8H18C19.1 8 20 8.89 20 10Z"
                                            fill="#132305" />
                                    </svg>
                                </i>
                            </button>
                        </div>
                </section>
            </div>
    </div>

    </div>
    </main>
    </div>
</div>
</body>

</html>