<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
        <title>Welovedogs</title>
        <link rel="stylesheet" type="text/css" href="../styles/global-styles.css" />
        <link rel="stylesheet" type="text/css" href="../styles/header.css" />
        <link rel="stylesheet" type="text/css" href="../styles/about-us.css" />
    </head>
    <body>
        <header class="header">
            <a href="index.html">
                <span class="logo">
                    We<span class="mid-logo">love</span>dogs
                </span>
            <a>
            <nav>
                <ul class="navegation-header">
                    <li>
                        <a href="#">QUEM SOMOS</a>
                    </li>
                    <li>
                        <a href="blog.html">BLOG</a>
                    </li>
                    <li class="subscribe-nav">
                        <a href="subscribe.html">INSCREVER</a>
                    </li>
                </ul>
            </nav>
        </header> 
        <main>
            <div class="title-container">
                <h1 class="title">QUEM SOMOS</h1>
            </div>
            <article class="about-us-content">
                <section class="main-content">
                    <p class="our-information">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At quis risus sed vulputate odio ut enim blandit volutpat. Urna duis convallis convallis tellus id interdum velit laoreet id. Sed felis eget velit aliquet sagittis id consectetur purus ut. Orci phasellus egestas tellus rutrum tellus. At elementum eu facilisis sed.  Quam elementum pulvinar etiam non quam lacus. Viverra tellus in hac habitasse platea. Congue eu consequat ac felis donec et odio. Amet cursus sit amet dictum sit amet. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Consectetur a erat nam at.</p>
                    <img src="../assets/Figure2.svg" alt="Homem sentado acariciando seu cachorro"/></section>
            </article>
        </main>
    </body>
</html>