<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>welovedogs</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css" />
        <link rel="stylesheet" type="text/css" href="../styles/main-banner.css" />
        <link rel="stylesheet" type="text/css" href="../styles/global-styles.css" />
    </head>
    <body>
        <header class="header">
            <a href="index.html">
                <span class="logo">
                    We<span class="mid-logo">love</span>dogs
                </span>
            </a>
            <nav>
                <ul class="navegation-header">
                    <li>
                        <a href="about-us.html">QUEM SOMOS</a>
                    </li>
                    <li>
                        <a href="blog.html">BLOG</a>
                    </li>
                    <li class="subscribe-nav">
                        <a href="subscribe.html">INSCREVER</a>
                    </li>
                </ul>
            </nav>
        </header>    
        <main class="main-content">
            <article class="effect-article">
                <p class="effect-quote">Junte-se a comunidade apaixonada por cachorros</p>
                <span class="main-button">
                    <a href="subscribe.html">Inscrever-se</a>
                </span>
            </article>
            <img src="../assets/Figure1.svg" alt="Mulher interagindo com cachorro">
        </main>
    </body>
</html>