<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welovedogs</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../styles/global-styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/subscribe.css" />
</head>
    <body>
        <header class="header">
            <a href="index.html">
                <span class="logo">
                    We<span class="mid-logo">love</span>dogs
                </span>
            </a>
            <nav>
                <ul class="navegation-header">
                    <li>
                        <a href="about-us.html">QUEM SOMOS</a>
                    </li>
                    <li>
                        <a href="blog.html">BLOG</a>
                    </li>
                    <li class="subscribe-nav">
                        <a href="subscribe.html">INSCREVER</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="subscribe-content">
            <div class="title-container">
                <h1 class="title">Inscrição</h1>
            </div>
            <article class="subscription-article">
                <form class="form">
                    <label>
                        Nome
                    </label>
                    <input type="text" placeholder="Seu nome">
                    <label>
                        Idade
                    </label>
                    <input type="number" placeholder="18">
                    <label>
                        E-mail
                    </label>
                    <input type="email" placeholder="exemplo@exemplo">
                    <label>
                        Ama cachorros?
                    </label>
                    <input type="text" class="message" placeholder="Mensagem">
                    <div class="submit-button-container">
                        <button type="submit">Enviar</button>
                    </div>
                    
                </form>
                <img src="../assets/Figure5.svg" alt="Mulher com as mãos no coração em sinal de agradecimento " />
            </article>
        </main>
    </body>
</html>